<div class="card bg-base-100 shadow-xl p-6">
  <h2 class="card-title mb-6">
    {{ companyToEdit ? "Editar Empresa" : "Registrar Nueva Empresa" }}
  </h2>

  <!-- Formulario Reactivo -->
  <form
    [formGroup]="companyForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-4"
  >
    <!-- RNC con Botón Buscar -->
    <div class="flex gap-2">
      <input
        [readonly]="!!companyToEdit"
        type="text"
        formControlName="rnc"
        placeholder="RNC"
        class="input input-bordered w-full"
        [class.input-error]="
          companyForm.get('rnc')!.invalid && companyForm.get('rnc')!.touched
        "
        required
      />
      <button
        type="button"
        class="btn btn-secondary"
        (click)="getCompanyByRNC()"
      >
        Buscar
      </button>
    </div>

    <div
      *ngIf="companyForm.get('rnc')!.invalid && companyForm.get('rnc')!.touched"
      class="text-red-500 text-sm"
    >
      Este campo es obligatorio
    </div>

    <!-- Nombre de la empresa -->
    <input
      type="text"
      formControlName="name"
      placeholder="Nombre de la empresa"
      class="input input-bordered w-full"
      [class.input-error]="
        companyForm.get('name')!.invalid && companyForm.get('name')!.touched
      "
      required
    />
    <div
      *ngIf="
        companyForm.get('name')!.invalid && companyForm.get('name')!.touched
      "
      class="text-red-500 text-sm"
    >
      Este campo es obligatorio
    </div>

    <!-- Nombre comercial -->
    <input
      type="text"
      formControlName="commercialName"
      placeholder="Nombre comercial"
      class="input input-bordered w-full"
      [class.input-error]="
        companyForm.get('commercialName')!.invalid &&
        companyForm.get('commercialName')!.touched
      "
      required
    />
    <div
      *ngIf="
        companyForm.get('commercialName')!.invalid &&
        companyForm.get('commercialName')!.touched
      "
      class="text-red-500 text-sm"
    >
      Este campo es obligatorio
    </div>

    <!-- Categoría -->
    <input
      type="text"
      formControlName="category"
      placeholder="Categoría"
      class="input input-bordered w-full"
    />

    <!-- Esquema de pago -->
    <input
      type="text"
      formControlName="payment"
      placeholder="Esquema de pago"
      class="input input-bordered w-full"
      [class.input-error]="
        companyForm.get('payment')!.invalid &&
        companyForm.get('payment')!.touched
      "
      required
    />
    <div
      *ngIf="
        companyForm.get('payment')!.invalid &&
        companyForm.get('payment')!.touched
      "
      class="text-red-500 text-sm"
    >
      Este campo es obligatorio
    </div>

    <!-- Estado -->
    <select
      formControlName="status"
      class="select select-bordered w-full"
      required
    >
      <option disabled selected>Seleccionar estado</option>
      <option>ACTIVO</option>
      <option>INACTIVO</option>
    </select>

    <!-- Actividad económica -->
    <input
      type="text"
      formControlName="activity"
      placeholder="Actividad económica"
      class="input input-bordered w-full"
      required
    />

    <!-- Rama gubernamental -->
    <input
      type="text"
      formControlName="branch"
      placeholder="Rama gubernamental"
      class="input input-bordered w-full"
      required
    />

    <!-- Botones -->
    <div class="flex gap-4 mt-6">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="companyForm.invalid"
      >
        {{ companyToEdit ? "Editar" : "Guardar" }}
      </button>
      <button type="button" class="btn btn-outline" (click)="onCancel()">
        Cancelar
      </button>
    </div>
  </form>
</div>
