<div class="card bg-base-100 shadow-xl p-6">
  <div class="flex items-center justify-between mb-6">
    <h2 class="card-title">Lista de Empresas</h2>
    <a routerLink="/" class="btn btn-sm btn-neutral"> Volver al Inicio </a>
  </div>

  <div class="overflow-x-auto">
    <table class="table table-zebra w-full">
      <thead class="text-base-content">
        <tr>
          <th>RNC</th>
          <th>Nombre</th>
          <th>Nombre Comercial</th>
          <th>Estado</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Aquí iría un *ngFor para listar empresas -->
        <tr *ngFor="let company of companies">
          <td>{{ company.rnc || "Sdsd" }}</td>
          <td>{{ company.name }} X</td>
          <td>{{ company.commercialName }}</td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                'badge-success': company.status === 'Activa',
                'badge-error': company.status === 'Inactivo'
              }"
              >{{ company.status }}</span
            >
          </td>
          <td class="text-center">
            <div class="flex gap-2 justify-center">
              <button
                (click)="onEdit(company)"
                class="btn btn-sm btn-warning btn-outline"
              >
                Editar
              </button>
              <button
                (click)="onDelete(company.id)"
                class="btn btn-sm btn-error btn-outline"
              >
                Eliminar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
